[submodule "third_party/pffft"]
	path = third_party/pffft
	url = https://bitbucket.org/jpommier/pffft.git
[submodule "third_party/eigen3"]
	path = third_party/eigen3
	url = https://gitlab.com/libeigen/eigen.git
