[submodule "third_party/eigen3"]
	path = third_party/eigen3
	url = https://gitlab.com/libeigen/eigen.git
[submodule "third_party/kissfft"]
	path = third_party/kissfft
	url = https://github.com/mborgerding/kissfft
